@{
    ViewBag.Title = "Illuminate Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
        </div>
    </section>
}

<style type="text/css">
     .sidebar-nav-fixed {
        padding: 9px 0;
        position:fixed;
        left:20px;
        top:70px;
        width:215px;
     }
      .row-fluid > .span-fixed-sidebar {
        margin-left: 270px;
     }
 </style>
    <div class="container-fluid">
    <div class="row-fluid row">
       <div class="span10 span-fixed-sidebar">
         
       </div>
     </div>
    </div>
