@{
    ViewBag.Title = "Create Content";
}

<style type="text/css">
     .sidebar-nav-fixed {
        padding: 9px 0;
        position:fixed;
        left:20px;
        top:70px;
        width:215px;
     }
      .row-fluid > .span-fixed-sidebar {
        margin-left: 270px;
     }
 </style>
    <div class="container-fluid">
    <div class="row-fluid row">
       <div class="span10 span-fixed-sidebar">
         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Your new webcast</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
       </div>
     </div>
    </div>