@{
    ViewBag.Title = "Create Content";
    ViewBag.Module = "content";
}
<script src="../Scripts/angular.js"></script>
<script src="../Scripts/application/createcontent.controller.js"></script>

<style type="text/css">
     .sidebar-nav-fixed {
        padding: 9px 0;
        position:fixed;
        left:20px;
        top:70px;
        width:215px;
     }
      .row-fluid > .span-fixed-sidebar {
        margin-left: 270px;
     }
 </style>
    <div class="container-fluid">
    <div class="row-fluid row">
       <div class="span10 span-fixed-sidebar">
         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Your new webcast</h3>
            </div>
            <div class="panel-body">
                <div data-ng-app="content"  data-ng-controller="CreateContentCtrl">
   
                  <label>Area</label>
                  [ <a href="#">add</a> ]
                  <div>
                    <select>
                      <option>Java</option>
                      <option>.net</option>
                      <option>Automation</option>
                      <option>Agile</option>
                    </select>
                       [ <a href="#">X</a> ]
                    </div> <br />
                    <label>Topic</label>
                  [ <a href="#">add</a> ]
                  <div>
                    <select>
                      <option>.net Runtime</option>
                      <option>Generics</option>
                      <option>LINQ</option>
                      <option>Task Parallel Library</option>
                    </select>
                     [ <a href="#">X</a> ]
                  </div> <br />

                  <label>Title</label>&nbsp;&nbsp; <label>Author</label><br>
                    <input type="text" data-ng-model="title" /> 
                    <input type="text" data-ng-model="author" /> <br /><br />

                  <label>Content Description</label><br>
                  <textarea data-ng-model="description" required></textarea> <br /> <br /> <!-- TODO: replace br by a proper grid layout-->
                  <div>
                    @*<input type="file" name="upload-file">*@
                       <input type="file" file-upload multiple/>
                      <ul>
                         <li ng-repeat="file in files">{{file.name}}</li>
                     </ul>
                  </div>
                   
                  <br><br>
                    <button data-ng-click="publish()">Publish</button>
                  <br><br>
                  <hr/>
                  Debug View:
                  <pre>{{content}}</pre>
                </div>
            </div>
          </div>
       </div>
     </div>
    </div>