@{
    ViewBag.Title = "News feed";
    ViewBag.Module = "content";
}
<script src="../Scripts/angular.js"></script>
<script src="../Scripts/application/newsfeed.controller.js"></script>

<style type="text/css">
     .sidebar-nav-fixed {
        padding: 9px 0;
        position:fixed;
        left:20px;
        top:70px;
        width:215px;
     }
      .row-fluid > .span-fixed-sidebar {
        margin-left: 270px;
     }
 </style>
    <div class="container-fluid">
    <div class="row-fluid row">
       <div class="span10 span-fixed-sidebar">
                <div data-ng-app="content" data-ng-controller="NewsFeedCtrl" data-ng-init="getNews()">
                 <div data-ng-repeat="news in newsFeed">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object" src="..." alt="...">
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">{{news.Title}}</h4>
                            {{news.Description}}
                      </div>
                    </div>
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>   
                     <div>&nbsp;</div>
                     <ul class="media-list">
                         <li class="media" data-ng-repeat="comment in news.comments">
                             <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-user"></span>
                             </button>     
                            <small>
                               {{comment.CommentedBy}} says {{comment.Comments}}
                            </small>
                        </li>
                    </ul>
                     
                     <div>
                        <textarea cols="50" data-ng-model="news.commentplaceholder" required></textarea>
                         <a href ng-click="commentOnContent(news.Id)">Add Comment</a>
                     </div>
                     <div>&nbsp;</div>
                 </div>
                </div>
            </div>
     </div>
    </div>